{
  "openapi": "3.1.0",
  "info": {
    "title": "corag.app public API",
    "version": "1.0.0",
    "description": "Read-only JSON endpoints exposed by corag.app for agent discovery. corag.app is the static institutional site for Corag \u2014 el ecosistema de impacto social. It holds no aid data and has no write API. The Ayuda Directa application, its public write API (POST /api/public/v1/help), its OpenAPI 3.1 specification and its MCP server live at https://ayuda.corag.app."
  },
  "servers": [
    {
      "url": "https://corag.app",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/posts.json": {
      "get": {
        "summary": "Combined search index (all languages)",
        "description": "Returns the full blog search index across all languages \u2014 slug, title, description, pubDate, URL, language tag.",
        "responses": {
          "200": {
            "description": "Search index",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "slug": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "pubDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "lang": {
                        "type": "string",
                        "enum": [
                          "en",
                          "es"
                        ]
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/posts-en.json": {
      "get": {
        "summary": "English blog post index",
        "description": "Returns only English blog posts for on-site search clients that filter by language.",
        "responses": {
          "200": {
            "description": "English posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/posts-es.json": {
      "get": {
        "summary": "Spanish blog post index",
        "description": "Returns only Spanish blog posts for on-site search clients that filter by language.",
        "responses": {
          "200": {
            "description": "Spanish posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/series/{lang}": {
      "get": {
        "summary": "Blog series listing",
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "es"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Series list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/timeline/{lang}": {
      "get": {
        "summary": "Blog post timeline",
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "es"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timeline entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/ecosystem.json": {
      "get": {
        "summary": "Ecosystem directory of complementary aid apps",
        "description": "Machine-readable twin of https://corag.app/ecosystem. A bilingual (es/en) directory of the complementary civic apps around the emergency response: what each app does, how it works, its honest limits, and its public API / MCP availability with documentation links. Static JSON regenerated on every deploy; no authentication; open CORS; cached one hour. The directory describes what each public site says about itself \u2014 listing is not an endorsement.",
        "responses": {
          "200": {
            "description": "Ecosystem directory",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "integer",
                      "const": 1
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "$ref": "#/components/schemas/EcosystemI18nText"
                    },
                    "site": {
                      "type": "string",
                      "format": "uri"
                    },
                    "endpoint": {
                      "type": "string",
                      "format": "uri"
                    },
                    "page": {
                      "$ref": "#/components/schemas/EcosystemI18nText"
                    },
                    "markdownTwins": {
                      "$ref": "#/components/schemas/EcosystemI18nText"
                    },
                    "disclosure": {
                      "$ref": "#/components/schemas/EcosystemI18nText"
                    },
                    "generatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "counts": {
                      "type": "object",
                      "properties": {
                        "apps": {
                          "type": "integer"
                        },
                        "byCategory": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "label": {
                            "$ref": "#/components/schemas/EcosystemI18nText"
                          },
                          "lead": {
                            "$ref": "#/components/schemas/EcosystemI18nText"
                          },
                          "count": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "apps": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EcosystemApp"
                      }
                    }
                  },
                  "required": [
                    "version",
                    "endpoint",
                    "categories",
                    "apps"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EcosystemI18nText": {
        "type": "object",
        "description": "Bilingual text \u2014 Spanish and English renditions of the same content.",
        "properties": {
          "es": {
            "type": "string"
          },
          "en": {
            "type": "string"
          }
        },
        "required": [
          "es",
          "en"
        ]
      },
      "EcosystemAvailability": {
        "type": "string",
        "enum": [
          "yes",
          "no",
          "unknown"
        ],
        "description": "As verified from each app's public docs. \"unknown\" means unconfirmed, not a denial."
      },
      "EcosystemApp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "displayUrl": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "matching",
              "damage",
              "logistics",
              "pets",
              "people"
            ]
          },
          "featured": {
            "type": "boolean"
          },
          "logo": {
            "type": "string",
            "format": "uri",
            "description": "Present only when the app's owner authorized the logo."
          },
          "tagline": {
            "$ref": "#/components/schemas/EcosystemI18nText"
          },
          "what": {
            "$ref": "#/components/schemas/EcosystemI18nText"
          },
          "how": {
            "$ref": "#/components/schemas/EcosystemI18nText"
          },
          "overview": {
            "$ref": "#/components/schemas/EcosystemI18nText"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EcosystemI18nText"
            }
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EcosystemI18nText"
            }
          },
          "audience": {
            "$ref": "#/components/schemas/EcosystemI18nText"
          },
          "coverage": {
            "$ref": "#/components/schemas/EcosystemI18nText"
          },
          "limits": {
            "$ref": "#/components/schemas/EcosystemI18nText"
          },
          "integrations": {
            "type": "object",
            "properties": {
              "publicApi": {
                "$ref": "#/components/schemas/EcosystemAvailability"
              },
              "publicMcp": {
                "$ref": "#/components/schemas/EcosystemAvailability"
              },
              "apiDocsUrl": {
                "type": "string",
                "format": "uri"
              },
              "openApiUrl": {
                "type": "string",
                "format": "uri"
              },
              "mcpUrl": {
                "type": "string",
                "format": "uri"
              },
              "developersUrl": {
                "type": "string",
                "format": "uri"
              },
              "notes": {
                "$ref": "#/components/schemas/EcosystemI18nText"
              }
            },
            "required": [
              "publicApi",
              "publicMcp"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "url",
          "category",
          "featured",
          "tagline",
          "what",
          "how",
          "overview",
          "features",
          "tools",
          "integrations"
        ]
      }
    }
  }
}
